<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <p th:text="hahah">look at here!!</p>
        <p th:text="${name}"></p>
        <span th:text="haha+${name}"></span>
        <p th:text="|haha,${name}|"></p>
        <p th:text="'hahha'+${name}+'!!'"></p>
        <!--这里是可以计算出值的-->
        <p th:text="${1+2}"></p>
        <!--接下来是获取一个对象里面的值-->
        <p th:text="${book.name}"></p>
        <p>Today is: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</span> </p>
        <form action="/">
            <fieldset>
                <input type="text" name="email"/>
                <input type="submit" value="¡Suscríbe!"/>
            </fieldset>
        </form>

        <form th:action="@{/}">
            <fieldset>
                <input type="text" name="name"/>
                <input type="submit" value="Click"/>
            </fieldset>
        </form>
    </div>
</body>
</html>